@use "@/styles/mixins.style.scss" as mixs;
@use "@/styles/variables.style.scss" as vars;

.main {
    width: 100%;
    height: 100%;
    @include mixs.centeredColumn;
    font-family: vars.$primary_font;
}

h3{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}