@mixin centeredColumn(){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin centeredRow(){
    display: flex;
    justify-content: center;
    align-items: center;
}