@use "@/styles/variables.style.scss" as vars;
@use "@/styles/mixins.style.scss" as mixs;

.layout{
    width: 100%;
    height: 100vh;
    @include mixs.centeredRow;
    font-family: vars.$primary_font;

    &__form, &__preview {
        height: 100%;
        @include mixs.centeredColumn;
        padding: 20px;
        box-sizing: border-box;
    }
}

.layout__form{
    width: 50%;

    &-container{
        width: 60%;
        height: 100%;

        .layout__form-box {
          height: 80%;
          width: 100%;
          @include mixs.centeredColumn;
        }
    }

    &-header {
        width: 100%;

        &-img{
          width: 15%;
        }

        &-title {
          margin-top: 0px;
        }

        &-desc{
          margin-top: -5px;
        }

        .desc-text{
          font-size: 1.15rem;
          color: vars.$darker_font;
          font-weight: 400;
        }

        .desc-link {
          font-weight: 700;
          color: vars.$light_link_font;
          text-decoration: none;
        }
    }

    &-line {
      color: vars.$darker_font;
    }
} 

.layout__form-window{
  width: 90%;
  height: 30vh;
  background-color: aqua;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #F5F5F5;
  @include mixs.centeredColumn;

  h3{
    margin: 0;
    padding: 0;
  }

  &-buttons{
    width: 80%;
    height: 70%;
    @include mixs.centeredRow;
    justify-content: space-between;
    align-items: end;
  }
}

.layout__preview{
    width: 50%;
    margin-left: auto;

    &-container{
        padding: 150px;
        box-sizing: border-box;
        color: vars.$light_font;
        @include mixs.centeredColumn;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background: linear-gradient(220deg, vars.$light_orange, vars.$light_purple);
    
        h1 {
            font-size: 3.5rem;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.521);
            font-family: vars.$secondary_font;
        }

        h4 {
            font-size: 2.5rem;
            line-height: 3rem;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.521);
            text-align: center;
            font-weight:900;
            margin-top: -5%;
            margin-bottom: 30%;
            font-family: vars.$primary_font;
        }

        &::after{
            content: '';
            position: absolute;
            background-image: url('../../../public/images/Kapybaryk.png');
            background-repeat: no-repeat;
            background-size: contain; 
            width: 10vh;
            height: 10vh;
            top: 25%;
            left: 85%;
            animation: flying 5s infinite ease-in-out;
            @include mixs.centeredRow;
        }
    }
}

@keyframes flying {
    0% {
      top: 25%;
      transform: rotate(0deg);
    }
    25% {
      top: 20%;
      transform: rotate(0deg);
    }
    35% {
      top: 25%;
      transform: rotate(0deg);
    }
    50% {
      top: 25%;
      transform: rotate(90deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 600px) {
    .authlayout {
        &__preview {
          display: none;
        }
  
        &__form {
          width: 100%;
          &-container{
            width: 100%;
          }
        }
    }
  }
  
@media (max-width: 1200px) and (min-width: 600px) {
  .authlayout {
      &__preview {
          display: none;
      }
    
      &__form {
        width: 80%;

        &-container{
          width: 80%;
        }
      }
  }
}

  @media (max-width: 600px) {
    .layout__preview{
      display: none;
    }
    .layout__form{
      width: 100%;

      &-container{
        width: 100%;

        .layout__form-box {
          height: 50%;

          .layout__form-window{
            height: 20vh;
          }
        }
      }
    }
  }