@use "@/styles/mixins.style.scss" as mixs;
@use "@/styles/variables.style.scss" as vars;

.layout{
    width: 100%;
    height: 100vh;
    @include mixs.centeredRow;

    &__sidebar{
        width: 15%;
        height: 100%;
    }

    &__content{
        width: 85%;
        height: 100%;
        padding: 15px;
        padding-top: 5px;
        max-height: 100%;
        overflow-y: auto;
        box-sizing: border-box;
    }
}

.layout__content{
    .content__header{
        width: 100%;
        height: 8%;
        padding-bottom: 5px;
        box-sizing: border-box;
        @include mixs.centeredColumn;
        border-bottom: 1px solid #8E8E8E;
    }

    .content__main{
        width: 100%;
        height: 91%;
        padding-top: 10px;
        box-sizing: border-box;
    }
}

.content__header{
    &-data{
        width: 100%;
        height: 100%;
        @include mixs.centeredRow;
        justify-content: space-between;
    }

    &-title{
        width: 50%;
        height: 100%;
        @include mixs.centeredRow;
        justify-content: start;
        gap: 10px;
        font-family: vars.$primary_font;

        img{
            width: 6%;
        }

        h1 {
            font-size: 1.5rem;
        }
    }

    &-other{
        width: 50%;
        height: 100%;
        @include mixs.centeredRow;
        justify-content: end;
    }
}

@media (max-width: 600px) {

    .layout__sidebar {
        width: 75%;
        height: 95%;
        position: fixed;
        left: 0.5%;
        border-radius: 15px;
        overflow: hidden;
        transform: translateX(-100%) scale(1.0, 0.5); 
        transition: transform 0.2s ease-in-out; 
        z-index: 1000;
        background-color: white;
        box-shadow: 1px 1px 10px black;

        &.opened {
            transform: translateX(0);
            left: 5%;
        }
    }

    
    .layout__content{
        width: 100%;

        .content__header{
            height: 7%;
        }

        .content__main{
            height: 92%;
        }
    }

    .content__header{
        &-title{

            img{
                width: 17%;
            }

            h1 {
                font-size: 1.25rem;
            }
        }

        &-other{
            gap: 10px;

            button {
                background-color: #8e8e8e00;
                border: none;
                outline: none;
                @include mixs.centeredRow;
                cursor: pointer;
            }
        }
    }
}