@use "@/styles/variables.style.scss" as vars;

.language_btn {
    position: fixed;
    width: 45px;
    height: 45px;
    position: fixed;
    z-index: 100;
    left: 96.5%;
    top: 93%;
    border-radius: 100%;
    outline: none;
    border: none;
    color: white;
    font-weight: bolder;
    background: linear-gradient(90deg, vars.$light_orange, vars.$light_purple);
    transition: 0.2s;

    &:hover{
        transform: scale(1.1);
        box-shadow: 1px 0px 10px #424242;
    }

    &:active{
        background: #424242;
    }
}

